<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <span class="copyright">Copyright &copy; 2021 <a href="https://www.github.com/Taurangaevents" target="_blank" title="locky">Gypsy White</a></span> </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
       
          <li><a href="https://www.facebook.com/taurangasportsevents"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="https://www.instagram.com/taurangaevents/"><i class="fa fa-instagram"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
