<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered">Our Services</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="large">Our venue hosts  200 people with adjustable seating arrangements which mostly overlook Tauranga harbor. 
Our bra, kitchen and event staff are committed to providing unlimited and excellent service. 
We collaborate with multiple entertainers, photographers and decorators who we use to make your event extra special.
Our onsite catering menu is great value and serves classic simple recipes your guests will love.
Tauranga events management is professional, knowledgeable and friendly. 
We go above and beyond and put our clients' needs first.</p>
      </div>
      <div class="col-lg-3 callout"> <i class="fa fa-desktop fa-3x"></i>
        <h3>Responsive Design</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
      <div class="col-lg-3 callout"> <i class="fa fa-gears fa-3x"></i>
        <h3>Web Development</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
      <div class="col-lg-3 callout"> <i class="fa fa-dot-circle-o fa-3x"></i>
        <h3>Social Marketing</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
      <div class="col-lg-3 callout"> <i class="fa fa-shopping-cart  fa-3x"></i>
        <h3>eCommerce Consulting</h3>
        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
      </div>
                
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 


